.all {
    height: 100vh;
    width: 100vw;
    background-color: lightskyblue;
}

.title {
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

th {
    text-align: left;
}

td {
    font-size: 16px;
}

.header {
    height: 100px;
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
    border: none;
    background-color: white;
    padding: 5px;
}

.icon {
    width: 20px;
    height: 20px;
}

.mapIcon {
    margin-left: 300px;
}

.main {
    background-color: white;
    height: 400px;
    width: 82%;
    margin: 25px auto;
    display: flex;
}

.send {
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 48px;
    height: 28px;
    justify-content: space-between;
}

.map {
    height: 300px;
    width: 300px;
    margin: 20px;
}